{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Queto</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="img/logo.png" alt="" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="text">
                <h2>O que é <br><span>QUESTO</span></h2>
                <p>O Questo é a sua solução!             
                Organize-se, pratique e conquiste seus sonhos com um site completo e intuitivo.</p>
                <p>Junte-se à nossa comunidade e conquiste a sua vaga na faculdade dos seus sonhos!</p>
                <a href="#">Cadastre-se</a>
            </div>
        </div>
        <!--<ul class="icons">
            <li><a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a></li>
            <li><a href="#"><img src="{% static 'img/x.avif' %}" alt="X"></a></li>
        </ul>-->
    </section>

    <section>
        <div class="content2">
            <div class="text2">
                <h2>No QUESTO vocÊ encontra</h2>
                <p>•FlashCards Personalizados: Crie seus próprios flashcards com o conteúdo que você precisa revisar, seja ele de qualquer disciplina ou matéria.</p>
                <p>•Editor de Redações: Pratique a escrita de redações com um editor completo, com ferramentas de formatação e revisão gramatical.</p>
                <p>•Marcação de Conteúdos: Destaque os pontos importantes de seus materiais de estudo para facilitar a revisão.</p>
                <p>•Provas Anteriores: Treine com provas anteriores de diversos vestibulares, desde o Ensino Fundamental até o Superior.</p>
                <p>•Calendário Personalizado: Organize seus estudos com um calendário completo, incluindo datas de provas, simulados e conteúdos a serem revisados.</p>
                <p>•Metas e Objetivos: Defina metas e objetivos para seus estudos e acompanhe seu progresso de forma personalizada.</p>
                <p>•Comunidade de Estudantes: Conecte-se com outros vestibulandos, tire dúvidas e compartilhe dicas e estratégias de estudo.</p>
            </div>
        </div>
    </section>

        <div class="nos">
            <div class="tex">
                <h2>Criadores</h2>
            </div>
            <div class="boxImgNos">
                <img src="{% static 'img/julia.jpeg' %}" alt="" class="img1">
                <img src="{% static 'img/luara.jpeg' %}" alt="" class="img2">
                <img src="{% static 'img/chico.jpeg' %}" alt="" class="img3">
                <img src="{% static 'img/japa.jpeg' %}" alt="" class="img4">
                <img src="{% static 'img/lucas.jpeg' %}" alt="" class="img5">
            </div>
        </div>
</body>
</html>